<div class="container" id="pageWrapper" [class.build-in]="buildInReady">
  <s2es-header></s2es-header>

  <div class="row">
    <div class="col-sm-12">
      <div class="left-col-nested">
        <h1>
          Rules.
        </h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-4 rules-column">

      <ol>
        <li>
          Eligibility: This Campaign is open only to those who are 21 years of age or older and live outside of Washington, Idaho and, Oregon.
        </li>
        <li>
          Agreement to Rules: By participating, the Contestant (“You”) agree to be fully unconditionally bound by these Rules, and You represent and warrant that You meet the eligibility requirements. In addition, You agree to accept the decisions of Seven2 as
          final and binding as it relates to the content of this Campaign.
        </li>
        <li>
          Campaign Period: Entries will be accepted online starting July 2nd, 2018 on and ending August 20th, 2018. All online entries must be received by August 20th, 2018.
        </li>
        <li>
          How to Enter: The Campaign must be entered by submitting an entry using the online form provided at [Link to Contest] . The entry must fulfill all Campaign requirements, as specified, to be eligible to win a prize. Entries that are incomplete or do not
          adhere to the rules or specifications may be disqualified at the sole discretion of [Contest Owner]. Optional verbiage to include: You may enter only once. You must provide the information requested. You may not enter more times than indicated
          by using multiple email addresses, identities, or devices in an attempt to circumvent the rules. If You use fraudulent methods or otherwise attempt to circumvent the rules, your submission may be removed from eligibility at the sole discretion
          of [Contest Owner].
        </li>
        <li>
          Prizes: The Winner(s) of the Campaign (the “Winner”) will receive [contest prize]. Value of [contest prize value]. Actual/appraised value may differ at time of prize award. The specifics of the prize shall be solely determined by [Contest Owner]. No cash
          or other prize substitution shall be permitted except at [Contest Owner] discretion. The prize is non transferable. Any and all prize-related expenses, including without limitation any and all federal, state, and/or local taxes, shall be the
          sole responsibility of Winner. No substitution of prize or transfer/assignment of prize to others or request for the cash equivalent by Winner is permitted. Acceptance
        </li>
      </ol>

    </div>
    <div class="col-md-12 col-lg-4 rules-column">

      <ol start="5">
        <li>
          constitutes permission for [Contest Owner] to use Winner’s name, likeness, and entry for purposes of advertising and trade without further compensation, unless prohibited by law.
        </li>
        <li>
          Odds: The odds of winning depend on the number of eligible entries received.
        </li>
        <li>
          Winner Selection and Notification: Winner will be selected [Contest Winner Selection Method] under the supervision of [Contest Owner]. Winner will be notified by [winner notification method] within [time period] following selection of Winner. [Contest
          Owner] shall have no liability for Winner’s failure to receive notices due to spam, junk e-mail or other security settings or for Winner’s provision of incorrect or otherwise non-functioning contact information. If Winner cannot be contacted,
          is ineligible, fails to claim the prize within 30 days from the time award notification was sent, or fails to timely return a completed and executed declaration and release as required, the prize may be forfeited and an alternate Winner selected.
          Receipt by Winner of the prize offered in this Campaign is conditioned upon compliance with any and all federal, state, and local laws and regulations.
        </li>
        <li>
          Rights Granted by You: By entering this content (e.g., photo, video, text, etc.), You understand and agree that [Contest Owner], anyone acting on behalf of [Contest Owner], and [Contest Owner] licensees, successors, and assigns, shall have the right,
          where permitted by law, to print, publish, broadcast, distribute, and use in any media now known or hereafter developed, in perpetuity and throughout the World, without limitation, your entry, name, portrait, picture, voice, likeness, image,
          statements about the Campaign, and biographical information for news, publicity, information, trade, advertising, public relations, and promotional purposes. without any further compensation, notice, review, or consent. Optional verbiage for
          Contest: By entering this content, You represent and warrant that your entry is an original work of authorship, and the
      </ol>

    </div>
    <div class="col-md-12 col-lg-4 rules-column">

      <ol start="8">
        <li>
          Optional verbiage for Contest: By entering this content, You represent and warrant that your entry is an original work of authorship, and does not violate any third party’s proprietary or intellectual property rights. If your entry infringes upon the
          intellectual property right of another, You will be disqualified at the sole discretion of [Contest Owner]. If the content of your entry is claimed to constitute infringement of any proprietary or intellectual proprietary rights of any third
          party, You shall, at your sole expense, defend or settle against such claims. You shall indemnify, defend, and hold harmless [Contest Owner] from and against any suit, proceeding, claims, liability, loss, damage, costs or expense, which [Contest
          Owner] may incur, suffer, or be required to pay arising out of such infringement or suspected infringement of any third party’s right.
        </li>
        <li>
          Terms &amp; Conditions: [Contest Owner] reserves the right, in its sole discretion, to cancel, terminate, modify or suspend the Campaign should virus, bug, non-authorized human intervention, fraud, or other cause beyond [Contest Owner] control corrupt or
          affect the administration, security, fairness, or proper conduct of the Campaign. In such case, [Contest Owner] may select the Winner from all eligible entries received prior to and/or after (if appropriate) the action taken by [Contest Owner].
          [Contest Owner] reserves the right, in its sole discretion, to disqualify any individual who tampers or attempts to tamper with the entry process or the operation of the Campaign or website or violates these Terms &amp; Conditions. [Contest Owner]
          has the right, in its sole discretion, to maintain the integrity of the Campaign, to void votes for any reason, including, but not limited to: multiple entries from the same user from different IP addresses; multiple entries from the same computer
          in excess of that allowed by Campaign rules; or the use of bots, macros, scripts, or other technical means for entering. Any attempt by an entrant to deliberately damage any website or undermine the legitimate operation of the Campaign may be
          a violation of criminal and civil laws….
        </li>
      </ol>

    </div>
  </div>

  <div #animCanvasWrapper id="createjs-canvas-wrapper" class="hill-graphic">
      <canvas #animCanvas id="createjs-canvas" width="834" height="600"></canvas>
  </div>
</div>
