<div class="container" id="pageWrapper" [class.build-in]="buildInReady">
  <s2es-header></s2es-header>
  <img src="assets/images/mask.png" class="mask-graphic desktop">
  <div class="row">
    <div class="col-sm-12">
      <div class="left-col-nested">
        <h3 class="principle">Seven2 is a digital agency founded on one simple principle:</h3>
        <h1>
          Do Great Work for Great Clients and Have Fun Doing It.
        </h1>
      </div>
    </div>
  </div>
  <div class="row">

    <div class="col-sm-12 col-md-6">
      <img src="assets/images/mask.png" class="mask-graphic mobile">
      <h3 class="uppercase">Who We Are</h3>
      <p>Seven2 is a talented and deeply enthusiastic set of individuals who coalesce into an exceedingly collaborative, uncommonly awesome team. Since 2004, we’ve designed and built websites, games, online ad campaigns, mobile apps, and more for clients
        like AT&amp;T, Netflix, Nickelodeon, Expedia, Bravo TV, Disney, MTV, and others.</p>
    </div>

    <div class="col-sm-12 col-md-6">
      <h3 class="uppercase">What We Do</h3>
      <p>With 13 years under our belts, we’ve got a process that works. We research, plan, and set up collaborative goals. We analyze the challenge at hand, and we get to work solving it with big ideas that draw from all sorts of perspectives – including
        your customers’. On top of it all, our clients tell us that we’re genuinely fun to work with. True story.</p>
    </div>

    <div class="col-sm-12 col-md-6">
      <a href="https://seven2.com" target="blank">
        <button class="yellow-btn">
          <span class="btn-copy">Visit Our Site</span>
        </button>
      </a>
    </div>

    <div class="col-sm-12 col-md-6">
      <h3 class="uppercase">Be Our Friend on Social:</h3>
      <div class="icons" style="margin-top: 26px">
        <a href="https://facebook.com/WeAreSeven2" target="blank" style="margin-left: -13px;"><span class="fontello icon-facebook"></span></a>
        <a href="https://twitter.com/WeAreSeven2" target="blank"><span class="fontello icon-instagram"></span></a>
        <a href="http://instagram.com/weareseven2" target="blank" style="margin-left: 3px;"><span class="fontello icon-twitter"></span></a>
      </div>
    </div>

  </div>
</div>
